* {
    padding: 0;
    margin: 0
}

html {
    height: 100%;
    font-size: 16px;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

body {
    min-height: 100%;
    position: relative;
    background-image: url("images/climpek.png");
    color: #291D1D;
    font-size: 62.5%
}

.header {
    padding: 3em 1em 3em 1em;
    text-align: center
}
.header h1 {
    font-family: Georgia, Times, serif;
    font-weight: normal;
    font-size: 1.9em
}

@media (min-width: 300px) {
    .header h1 {
        font-size: 2.5em
    }
}
@media (min-width: 550px) {
    .header h1 {
        font-size: 6em
    }
}

.header a {
    text-decoration: none;
    color: #291D1D
}

.content {
    padding-bottom: 10em
}

@media (min-width: 550px) {
    .content {
        padding-bottom: 15em
    }
}

.home {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 1em;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 1.2em
}

@media (min-width: 550px) {
    .home {
        font-size: 1.8em
    }
}

.home h2 {
    margin-top: 3.4em;
    font-size: 1.2em
}

.home h2:first-child {
    margin-top: 0
}

@media (min-width: 550px) {
    .home h2 {
        margin-top: 2.5em;
        font-size: 1.5em
    }

    .home h2:first-child {
        margin-top: 1em
    }
}

.home p {
    margin: 1em 0;
    text-align: justify;
    text-justify: newspaper
}

.home iframe {
    width: 100%;
    max-width: 800px;
    aspect-ratio: 800 / 480;
    background-color: transparent;
    border: 0 none transparent;
    padding: 0;
    overflow: hidden;
}
