<div class="credits">
	<table>
		<tr><td>V&iacute;deos</td><td><a href="http://cgpgrey.squarespace.com/">Colin Grey (C. G. P. Grey)</a></td></tr>
		<tr><td>Tradu&ccedil;&otilde;es</td><td>Guilherme Sim&otilde;es</td></tr>
		<tr><td>Site</td><td><a href="https://github.com/GuilhermeSimoes/Politics">Guilherme Sim&otilde;es</a></td></tr>
	</table>
</div>