<div class='credits'>
  <table>
    <tr><td>Vídeos</td><td><a href='http://cgpgrey.squarespace.com/' class='link'><span class='word-wrap-break'>Colin Grey</span> (C. G. P. Grey)</a></td></tr>
    <tr><td>Traduções</td><td>Guilherme Simões</td></tr>
    <tr><td>Site</td><td><a href='https://github.com/GuilhermeSimoes/Politics' class='link'>Guilherme Simões</a></td></tr>
    <tr><td>Background</td><td><a href='http://subtlepatterns.com/climpek/' class='link'>Wassim</a></td></tr>
  </table>
</div>
