<div class='home'>
  <h2>1. A Maioria Relativa</h2>
  <p>A democracia é introduzida no Reino Animal, mas são encontrados alguns problemas inesperados.</p>
  <div><iframe seamless='seamless' width='800' height='480' src='http://www.youtube.com/embed/s7tWHJfhiyo?rel=0&amp;hd=1&amp;hl=pt_PT&amp;cc_lang_pref=pt_PT&amp;cc_load_policy=1&amp;theme=light'></iframe></div>

  <h2>2. O Voto Alternativo (Votação com Turnos Instantâneos)</h2>
  <p>A Rainha Leoa aprende uma maneira diferente de votar.</p>
  <div><iframe seamless='seamless' width='800' height='480' src='http://www.youtube.com/embed/3Y3jE3B8HsE?rel=0&amp;hd=1&amp;hl=pt_PT&amp;cc_lang_pref=pt_PT&amp;cc_load_policy=1&amp;theme=light'></iframe></div>

  <h2>3. Gerrymandering</h2>
  <p>Há algo de errado com o modo como os cidadãos são agrupados antes de votar.</p>
  <div><iframe seamless='seamless' width='800' height='480' src='http://www.youtube.com/embed/Mky11UJb9AY?rel=0&amp;hd=1&amp;hl=pt_PT&amp;cc_lang_pref=pt_PT&amp;cc_load_policy=1&amp;theme=light'></iframe></div>

  <h2>4. A Representação Proporcional Mista</h2>
  <p>Uma pequena ilha tem uma maneira diferente de eleger os seus representantes.</p>
  <div><iframe seamless='seamless' width='800' height='480' src='http://www.youtube.com/embed/QT0I-sdoSXU?rel=0&amp;hl=pt_PT&amp;cc_lang_pref=pt_PT&amp;cc_load_policy=1&amp;theme=light'></iframe></div>
</div>
