<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="keywords" content="politics, cgpgrey" />
  <meta name="author" content="Guilherme Simoes" />
  
  <title>Política Animal</title>
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  <%= css :application %>
  <link href='http://fonts.googleapis.com/css?family=Crimson+Text|Allerta' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="header">
    <h1><a href="/">Política no Reino Animal</a></h1>
  </div>
  
  <div class="content">
    <%= yield %>
  </div>

  <div class="footer">
    <div class="copyright">&copy; 2O12 Guilherme Sim&otilde;es</div>
    <div class="foot-nav"><a href="/creditos">Cr&#233;ditos</a></div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
  <%= js :application %>
</body>
</html>