<!DOCTYPE html>
<html lang='pt'>
<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>
  <meta name='keywords' content='politics, cgpgrey' />
  <meta name='description' content='Um site sobre diferentes sistemas eleitorais.'>
  <meta name='application-name' content='Política no Reino Animal'>
  <meta name='msapplication-tooltip' content='Um site sobre diferentes sistemas eleitorais.'>
  <meta name='author' content='Guilherme Simoes'>
  <link rel='author' href='https://plus.google.com/105718471083306751613/posts'/>
  <link rel='icon' type='image/x-icon' href='/images/favicon.ico' />
  <title>Política Animal</title>
  <%= css :application %>
  <link href='http://fonts.googleapis.com/css?family=Crimson+Text|Allerta' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class='header'>
    <h1><a href='/'>Política no Reino Animal</a></h1>
  </div>
  
  <div class='content'>
    <%= yield %>
  </div>

  <div class='footer'>
    <div class='copyright'>&copy; 2O12 Guilherme Sim&otilde;es</div>
    <div class='foot-nav'><a href='/creditos'>Cr&#233;ditos</a></div>
  </div>

  <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js' type='text/javascript'></script>
  <%= js :application %>
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-34942426-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>