$small-break: 550px;
$medium-break: 800px;
$large-break: 1240px;

* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  font-size: 16px;
  overflow-y: scroll;   /* Easiest way to avoid the side jump when the scrollbar appears but this way the scrollbar is always visible.. */
  -webkit-text-size-adjust: none;

  @media screen and (min-width: $small-break) {
    -webkit-text-size-adjust: auto;
  }
}

body {
  min-height: 100%;
  position: relative;
  background-image: url('/images/climpek.png');
  color: #291D1D;
  font-size: 62.5%;
}

.group:before, .group:after {
content: '';
display: table;
}
.group:after {
clear: both;
}
.group {
zoom: 1; /* IE6&7 */
}

.header {
  padding: 3em 1em 3em 1em;
  text-align: center;

  h1 {
    font-family: 'Crimson Text', Georgia, Times, serif;
    font-weight: bold;
    font-size: 2.5em;

    @media screen and (min-width: $small-break) {
      font-size: 6em;
    }
  }

  a {
    text-decoration: none;
    color: #291D1D;
  }
}

.content {
  padding-bottom: 10em; /*height of footer plus some*/

  @media screen and (min-width: $small-break) {
    padding-bottom: 15em;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding-bottom: 2.5em;
  font-family: 'Allerta', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: bold;

  .copyright {
    padding-bottom: 0.6em;
    font-size: 1.2em;

    @media screen and (min-width: $small-break) {
      padding-bottom: 1em;
      font-size: 1.6em;
    }
  }

  .foot-nav a {
    color: #DA5127;
    text-decoration: none;
    font-size: 1.1em;

    @media screen and (min-width: $small-break) {
      font-size: 1.5em;
    }
  }
}

.home {
  width: 94%;
  margin: 0 auto;
  font-family: 'Allerta', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-size: 1.2em;

  @media screen and (min-width: $small-break) {
    width: 90%;
    font-size: 1.8em;
  }

  @media screen and (min-width: $medium-break) {
    width: 75%;
  }

  @media screen and (min-width: $large-break) {
    width: 60%;
  }

  h2 {
    margin-top: 3.4em;
    font-size: 1.2em;

    &:first-child {
      margin-top: 0;
    }

    @media screen and (min-width: $small-break) {
      margin-top: 2.5em;
      font-size: 1.5em;

      &:first-child {
        margin-top: 1em;
      }
    }
  }

  p {
    margin: 1em;
    text-align: justify;
    text-justify: newspaper;
  }

  iframe[seamless] {
    background-color: transparent;
    border: 0 none transparent;
    padding: 0;
    overflow: hidden;
  }
}

.credits {
  padding-top: 8%;
  text-align: center;
  font-family: 'Allerta', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-size: 1.4em;

  @media screen and (min-width: $small-break) {
    font-size: 1.8em;
  }

  table {
    display: inline-block;
    padding: 0 1em 0 1em;

    a {

      &:link {
        color: #291D1D;
        text-decoration: none;
      }

      &:visited {
        color: #291D1D;
      }

      &:hover {
        color: #DA5127;
      }

      &:active {
        color: #291D1D;
      }
    }
  }

  tr td {
    padding-bottom: 1.5em;

    &:first-child {
      text-align: right;
      padding-right: 1.5em;
    }

    &:last-child {
      text-align: left;
    }
  }
}