* {
  padding: 0px;
  margin: 0px;
}

html {
  height: 100%;
  font-size: 16px;
  overflow-y:scroll; /* Easiest way to avoid the side jump when the scrollbar appears but this way the scrollbar is always visible.. */
}

body {
  min-height: 100%;
  position: relative;
  background-image: url('/images/climpek.png');
  color: #291D1D;
  font-size: 62.5%;
}

.header {
  padding-top: 3em;     /* 30px */
  text-align: center;
}

.header h1 {
  font-family: 'Crimson Text', Georgia, Times, serif;
  font-size: 6em;       /* 60px */
}

.header a {
  text-decoration: none;
  color: #291D1D;
}

.content {
  padding-bottom: 15em; /*height of footer plus some*/
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding-bottom: 2.2em;
}

.footer .copyright {
  padding-bottom: 1em;
  font-family: "Allerta", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1.7em;
  font-weight: bold;
}

.footer .foot-nav a {
  color: #DA5127;
  text-decoration: none;
  font-family: "Allerta", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1.5em;
  font-weight: bold;
}

.group:before,
.group:after {
content: "";
display: table;
}
.group:after {
clear: both;
}
.group {
zoom: 1; /* IE6&7 */
}

.home{
  width: 80%;
  margin: 0 auto;
  font-family: 'Allerta', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1.8em;     /* 18px */
}

.home h2 {
  margin-top: 2.2em;
}

.home p {
  margin: 1em;
}

.credits {
  padding-top: 5em;
  text-align: center;
  font-family: 'Allerta', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1.8em;     /* 18px */
}

.credits table {
  display: inline-block;
}

.credits td {
  padding-bottom: 1.5em;
}

.credits tr td:first-child {
  text-align: right;
  padding-right: 1.5em;
}

.credits tr td:last-child {
  text-align: left;
}

.credits td a:link {
  color: #291D1D;
  text-decoration: none;
}
.credits td a:visited {
  color: #291D1D;
}
.credits td a:hover {
  color: #DA5127;
}
.credits td a:active {
  color: #291D1D;
}